
.glass{
    background: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px #4747470b;
    backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: auto ;
    width: 30rem ;
    margin-top: 5rem ;
    @apply border-4 border-gray-50 shrink-0 rounded-3xl py-6 px-7  ;
}

.glass1{
    background: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px #4747470b;
    backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: auto ;
    width: 55rem ;
    @apply border-4 border-gray-50 shrink-0 rounded-3xl py-6 px-7  ;
}

.profile_img{
    @apply border-4 border-gray-100 w-[135px] rounded-full shadow-lg cursor-pointer ;
    @apply hover:border-gray-200;
}

.mytextbox{
    @apply border-0 px-5 py-3 rounded-xl w-[100%] shadow-sm text-lg;
}

.mytextbox:focus{
    box-shadow: 0 0 8px 5px rgb(183, 155, 248) ;
    outline: none
}

.btn{
    @apply border bg-indigo-500 w-[100%] py-4 mt-2 rounded-lg text-gray-50 text-xl shadow-sm text-center;
}

.btn:hover{
    background-color: crimson;
}

input[type='file']{
    display: none;
}